# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

variables:
  npm_config_cache: $(Pipeline.Workspace)/.npm

pool:
  vmImage: ubuntu-latest


steps:
- task: NodeTool@0
  inputs:
    versionSpec: '14.x'
  displayName: 'Install Node.js'

- task: Cache@2
  inputs:
    key: 'npm | "$(Agent.OS)" | package-lock.json'
    restoreKeys: |
       npm | "$(Agent.OS)"
    path: $(npm_config_cache)
  displayName: Cache npm

- script: npm ci --cache $(npm_config_cache)

- script: npm run build
  displayName: 'npm install and build'

# - task: DownloadPipelineArtifact@2
#   inputs:
#     buildType: 'current'
#     targetPath: '$(Pipeline.Workspace)'
- task: AzureStaticWebApp@0
  inputs:
    app_location: '/'
    output_location: 'dist/angular-arcgis-core'
  env:
    azure_static_web_apps_api_token: $(deployment_token)